<section>
  <div class="page-header">
    <h1>{{vm.event._id ? 'Edit Event' : 'New Event'}}</h1>
  </div>
  <form name="vm.form.eventForm" class="form-horizontal" ng-submit="vm.save(vm.form.eventForm.$valid)" novalidate>
    <fieldset>
  <div class="row">
  <div class="col-md-6">

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.event.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.eventForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Event name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="address">Address</label>
          <input name="address" type="text" ng-model="vm.event.address" id="address" class="form-control" placeholder="Address" required>
          <div ng-messages="vm.form.eventForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Event address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="organizedBy">Organized By</label>
          <input name="organizedBy" type="text" ng-model="vm.event.organizedBy" id="organizedBy" class="form-control" placeholder="Organized By">
          <div ng-messages="vm.form.eventForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Event Organiser is required.</p>
          </div>
        </div>
        <div class="form-group">
        <label class="control-label" for="organizedBy">Gender</label>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" ng-click="m = (m=='true' ? 'false' : 'true')">
          <label class="custom-control-label" for="customCheck1" ng-model="m">Male</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" ng-click="f = (f=='true' ? 'false' : 'true')">
          <label class="custom-control-label" for="customCheck1" ng-model="f">Female</label>
        </div>
        <a class ="btn btn-primary" ng-click=male()>check</a>
        </div>
      </div>
<!-- col-xs-offset-1 col-xs-10 col-md-offset-3 -->
    <div class=" col-md-6">
        <fieldset>
          <div class="form-group text-center">
            <img ng-src="{{imageURL}}"  class="img-thumbnail user-profile-picture">
          </div>
          <div class="text-center form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-default btn-file">
                Select Image <input type="file" nv-file-select uploader="uploader">
            </span>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <a class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</a>
            <a class="btn btn-default" ng-click="cancelUpload();">Cancel</a>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>Event Picture Changed Successfully</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-group">
      <label class="control-label"for="sport">Name of Sport</label>
      <input name="sport.name" type="text" ng-model="sport.name"id="sport.name"class="form-control"placeholder="Name of Sport">
      <div ng-messages="vm.form.eventForm.name.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Event Sport name is required.</p>
      </div>
    </div>
    <div class="col-md-2">
      <label class="control-label"for="sport">First </label>
      <input name="sport.name" type="text" ng-model="sport.first"id="sport.first"class="form-control"placeholder="First">
      <div ng-messages="vm.form.eventForm.name.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Event Sport name is required.</p>
      </div>
    </div>
    <div class="col-md-2">
      <label class="control-label"for="sport">Second</label>
      <input name="sport.name" type="text" ng-model="sport.second"id="sport.second"class="form-control"placeholder="Second">
      <div ng-messages="vm.form.eventForm.name.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Event Sport name is required.</p>
      </div>
    </div>
    <div class="col-md-2">
      <label class="control-label"for="sport">Third </label>
      <input name="sport.name" type="text" ng-model="sport.third"id="sport.third"class="form-control"placeholder="Third">
      <div ng-messages="vm.form.eventForm.name.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Event Sport name is required.</p>
      </div>
    </div>
    <a class="btn btn-default pull-right" style="margin-top:23px;" ng-click="pushSport()">Push</a>
    <table class="table">
      <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">First Prize</th>
        <th scope="col">Second Prize</th>
        <th scope="col">Third Prize</th>
      </tr>
    </thead>
    <tr ng-repeat="obj in vm.event.sports track by $index">
      <td>{{obj.name}}</td>
      <td>{{obj.first}}</td>
      <td>{{obj.second}}</td>
      <td>{{obj.third}}</td>
    <td><button class="btn btn-default" ng-click="removeFromArray(this)">Remove</button></td>
    </tr>
  </table>
  </div>
  <div class="form-group" style:"position:relative;">
    <button type="submit" style="margin:auto; position: absolute; left: 50%; transform: translateX(-50%);" class="btn btn-default">
      {{vm.event._id ? 'Update' : 'Create'}}</button>
  </div>
  <div ng-show="vm.error" class="text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>
</fieldset>
</form>

</section>
