<section>
  <div class="page-header">
    <h1 class="display-3" ng-bind="vm.event.name"></h1>
</div>
  <section class="pull-right"
       ng-show="vm.event.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="events.edit({ eventId: vm.event._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </section>

  <small>
    <h3 class="display-3">Address:  {{vm.event.address}}</h3>
    <h3 class="display-3">Organised By:  {{vm.event.organizedBy}}</h3>
    <br><br><br><br><br><br>
      <table class="table">
        <thead>
          <tr>
          <th scope="col">Name</th>
          <th scope="col">First</th>
          <th scope="col">Second</th>
          <th scope="col">Third</th>
        </tr>
      </thead>
      <tr ng-repeat="obj in vm.event.sports track by $index">
        <td>{{obj.name}}</td>
        <td>{{obj.first}}</td>
        <td>{{obj.second}}</td>
        <td>{{obj.third}}</td>
      </tr>
    </table>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.event.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.event.user"
            ng-bind="vm.event.user.displayName"></span>
      <span ng-if="!vm.event.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.event.content"></p>
</section>
